html {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after { 
	-webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
	box-sizing: inherit; 
}

body {
	margin: 0;
}

ul {
	list-style: none;
}

header {
	background-color: #fff;
}

/* mobile menu presentation */

#menu i {
	padding-top:.5em;
	padding-left: 1em;
	vertical-align: bottom;
	font-size: 1.5em;
}


/* hide trips submenu by default */
#menu ul.trip-menu {
	display: none;
}


#menu {
	position: fixed;
	background-color: #fff;
	width: 100%;
	top: 0;
	height: 3em;
}

#menu > ul {
	background-color: #fff;
	width: 60%;
	padding-top: .5em;
	margin-top: .8em;
	height: 100vh;
	overflow: auto;
}

/* hide mobile menu */

#menu i.fa-bars {
	display: none;
}

@media screen and (min-width: 768px) {
	header {
		position: fixed;
		width: 100%;
	}

	#menu {
		background-color: initial;
		height: auto;
	}

	#menu i {
		display: none;
	}

	#menu > ul {
		float:right;
		overflow: hidden;
		width: auto;
		height: auto;
		background-color: initial;
	}

	#menu li {
		float: left;
		padding: 1em;
	}
}





