html {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after { 
	-webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
	box-sizing: inherit; 
}

body {
	margin: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	background-color: #fff;
}

/* mobile menu presentation */

#menu {
	margin: 0;
}

#menu i.fa-times, #menu i.fa-bars {
	padding-left: 1em;
	font-size: 1.5em;
}

#menu h1 {
	display: inline-block;
	font-size: 1.5em;
	padding: .45em;
	margin: 0;
}

li > .fa-chevron-down {
	border: 1px solid gray;
	border-radius: 15px;
	padding: .7em;
	font-size: .7em;
}

/* hide trips submenu by default */
#menu ul.trip-menu {
	display: none;
}


#menu {
	position: fixed;
	background-color: #fff;
	width: 100%;
	top: 0;
	height: 3.1em;
}

#menu > ul {
	background-color: #fff;
	width: 60%;
	padding-top: .5em;
	margin: 0;
	height: 100vh;
	overflow: auto;
}

/* hide mobile menu */

#menu i.fa-bars {
	display: none;
}

@media screen and (min-width: 768px) {
	header {
		position: fixed;
		width: 100%;
	}

	#menu {
		background-color: initial;
		height: auto;
	}

	#menu i, #menu h1 {
		display: none;
	}

	#menu > ul {
		float:right;
		overflow: hidden;
		width: auto;
		height: auto;
		background-color: initial;
	}

	#menu li {
		float: left;
		padding: 1em;
	}
}





